# THIS IS ONLY FOR THE gitattributes REPOSITORY.
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
#*               text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text linguist-language=gitattributes export-ignore
.gitignore      text export-ignore
*.md            text diff=markdown linguist-detectable
*.txt           text diff=text linguist-detectable

# Language attributes for RISC OS files:
*.pdf	       -text

doc/**         linguist-documentation

*,102          text diff=perl linguist-language=perl
*,a73          text diff=python linguist-language=python
*,a74          text diff=python linguist-language=python 
*,a75          text diff=python linguist-language=python
*,18c          text diff=lua linguist-language=lua
*,fe1          text diff=makefile linguist-language=makefile
*,fff          text diff=text linguist-language=text
*,ffb          text diff=bbcbasic linguist-language=bbcbasic 
*,fd1          text diff=bbcbasic linguist-language=bbcbasic

src/**/c/*     text diff=c linguist-language=c
src/**/h/*     text diff=c linguist-language=c
src/**/c++/*   text diff=cpp linguist-language=cpp
src/**/cpp/*   text diff=cpp linguist-language=cpp 
src/**/bas/*   text diff=bbcbasic  linguist-language=bbcbasic
src/**/s/*     text diff=armasm linguist-language=assembly
src/**/Hdr/*   text diff=armasm linguist-language=assembly
src/**/fth/*   text diff=forth linguist-language=forth
src/**/p/*     text diff=prolog linguist-language=prolog
tests/**/c/*   text diff=c linguist-language=c
tests/**/h/*   text diff=c linguist-language=c
tests/**/c++/* text diff=cpp linguist-language=cpp
tests/**/cpp/* text diff=cpp linguist-language=cpp
tests/**/bas/* text diff=bbcbasic linguist-language=bbcbasic
tests/**/Hdr/* text diff=armasm linguist-language=assembly
tests/**/s/*   text diff=armasm linguist-language=assembly
tests/**/fth/* text diff=forth linguist-language=forth
tests/**/p/*   text diff=prolog linguist-language=prolog

VersionNum     linguist-language=c gitlab-language=c
